/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
    font-size: 1em;
    line-height: 1.4;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f6e6b4 0%, #eaab5d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f6e6b4), color-stop(100%,#eaab5d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #f6e6b4 0%,#eaab5d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #f6e6b4 0%,#eaab5d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #f6e6b4 0%,#eaab5d 100%); /* IE10+ */
	background: linear-gradient(135deg, #f6e6b4 0%,#eaab5d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#eaab5d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  width:960px;
  margin:0px auto;
  background-color:#ffffff;
  line-height:1.5em;
  margin-bottom:20px;
}

.head{
	height:192px;
	width:960px;
	position: fixed;
    margin: auto;
	background-color:#FFF;
	z-index: 2;
}

.head nav{
	text-align:center;
}

.head #logo{
		width:50%;
		height:auto;
		margin-left:5%;
		margin-right:5%;
		padding-top:15px;
		padding-bottom:15px;
	  }
.head .portal-link{
	display:block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e20447+1,db3030+28,db3030+50,ce7987+93,ce7584+100 */
	background: #e20447; /* Old browsers */
	background: -moz-linear-gradient(top,  #e20447 1%, #db3030 28%, #db3030 50%, #ce7987 93%, #ce7584 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e20447), color-stop(28%,#db3030), color-stop(50%,#db3030), color-stop(93%,#ce7987), color-stop(100%,#ce7584)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e20447 1%,#db3030 28%,#db3030 50%,#ce7987 93%,#ce7584 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e20447 1%,#db3030 28%,#db3030 50%,#ce7987 93%,#ce7584 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e20447 1%,#db3030 28%,#db3030 50%,#ce7987 93%,#ce7584 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e20447 1%,#db3030 28%,#db3030 50%,#ce7987 93%,#ce7584 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e20447', endColorstr='#ce7584',GradientType=0 ); /* IE6-9 */

	width:20%;
	min-width:155px;
	margin-right:5%;
	margin-left:5%;
	float:right;
	padding:10px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	text-align:center;
	z-index: 1;
	}
.head .portal-link a{
	display:block;
	font-weight:bold;
	font-size:24px;
	color:#dbe0ee;
	text-decoration:none;
	text-align:center;
	z-index: 1;
}

.head .nav ul {
  width:100%;
  list-style: none;
  background-color: #fff;
  text-align: center;
  margin:0 auto;
  padding:0;
  z-index: 1;
}

.head .nav li {
  font-size: 1.2em;
  text-align: center;
  border-bottom:1px solid black;
  background: #8a0b26;
  z-index: 1;

}

.head .nav a {
  text-decoration: none;
  color: #dbe0ee;
  display: block;
  height:70%;
  z-index: 1;
}

.head .nav a:hover {
	background: #7089ba;
}

.head .nav ul li a .current{
	background: #7089ba;
	z-index: 1;

	}
	
.head .nav ul li a .deselected{

	background: #8a0b26;


	}

@media screen and (min-width: 540px) {
	.head img{
		display:block;
		width:80%;
		height:auto;
		max-width:960px;
		margin:0 auto;
	}
	
	.head .nav ul li {
		padding:0;
		margin:0;
		width:33.33%;
		height:40px;
		float:left;
		border-bottom: none;
		font-size: 1.2em;
		display: inline-block;
		z-index: 1;
	  }
	  .head .nav ul li ul.home-menu{
		  list-style:none;
		  min-width:200px;
		  display:none;
		  position:absolute;
		  z-index:999;
		  left:0;
		  }
	   .head .nav ul li:hover ul.home-menu{
		   width:33.33%;
		   display:block;
		   }
	   .head .nav ul ul.home-menu li{
		   width:100%;
		   display:block;
		   }
		.head .nav ul li ul.care-menu{
		  list-style:none;
		  min-width:200px;
		  display:none;
		  position:absolute;
		  z-index:999;
		  left:0;
		  }
	   .head .nav ul li:hover ul.care-menu{
		   width:33.33%;
		   margin-left:33.33%;
		   display:block;
		   }
	   .head .nav ul ul.care-menu li{
		   width:100%;
		   display:block;
		   }
	
	.head .nav a {
		padding:0;
		margin:0;
		padding-top:6px;
		padding-bottom:6px;
		z-index: 1;
	  }
	
	.head .nav  ul  li {
		text-align: center;
		background: #8a0b26;
		z-index: 1;
	  }
	
	.head .nav  ul  li  a {
		padding-left: 0;
		z-index: 1;
	  }
	.head .nav ul li a .current{
		background: #7089ba;
		}
	.head .nav ul li .current{
		background: #7089ba;
		}
}

/* body formatting */

.wrapper{
	width:100%;
	height:100%;
	padding:0;
	margin-bottom:5%;
	position:relative;
	}
.wrapper .sidebar{
	width:278px;
	height:2362px;
	position:absolute;
	padding-top:231px;
	background:#7089ba;
	z-index: 0;
	color:white;
	}
.wrapper .sidebar h2{
	text-align:center;
	}
.wrapper .sidebar p{
	text-align:center;
	margin-left:5%;
	margin-right:5%;
	}
.wrapper #home-markup{
	padding-bottom:20px;
	text-align:justify;
	background:white;
	margin-left:25%;
	padding-top:281px;
	}
.wrapper #home-markup h1{
	margin:0;
	padding:0;
	padding-bottom:15px;
	color:#7691C0;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
.wrapper #home-markup	h2{ 
	margin:0;
	padding:0;
	color:#7691C0;
	}

.wrapper #home-markup p{
	padding:0;
	margin:0;
	text-indent:20px;
	}
.wrapper #home-markup .intro-holder{
	text-align:justify;
	}
.wrapper #home-markup .img-holder{
	float:right;
	width:40%;
	margin-top:20px;
	}
	
.wrapper #home-markup .img-holder #headshot{
	width:60%;
	height:auto;
	margin-left:50px;
	margin-right:20px;
	}
	
.wrapper #home-markup .caption{
	margin-left:50px;
	margin-right:20px;
	}
	
.wrapper #home-markup .intro{
	margin-left:10%;
	margin-right:10%;
	text-align:justify;
	}
	
.wrapper #home-markup .list{
	margin-left:10%;
	margin-right:10%;
	padding:0;
	}

.wrapper #home-markup .about{
	text-align:left;
	margin-left:10%;
	margin-right:10%;
	}
.wrapper #home-markup .bio{
	margin-left:10%;
	margin-right:10%;
	text-align:left;
	}
.wrapper #home-markup .new-patients{
	margin-left:10%;
	margin-right:10%;
	margin-top:20px;
	text-align:justify;
	clear:both;
	}
.wrapper #home-markup .insurance ul{
	margin:0;
	padding:0;
	margin-left:10%;
	margin-right:10%;
	}
.wrapper #home-markup .insurance{
	margin-left:10%;
	margin-right:10%;
	}

.wrapper #home-markup .payment{
	margin-left:10%;
	margin-right:10%;
	}
.wrapper .care-sidebar{
	width:278px;
	height:1216px;
	position:absolute;
	padding-top:231px;
	background:#7089ba;
	z-index: 1;
	color:white;
	
	}
.wrapper .care-sidebar h2{
	text-align:center;;
	}
.wrapper .care-sidebar p{
	text-align:center;
	margin-left:5%;
	margin-right:5%;
	}

.wrapper .care-content {
	padding:0;
	margin:0;
	padding-top:281px;
	background:white;
	margin-left:25%;
	width:75%;
	z-index: 0;
	padding-bottom:15px;
	}
.wrapper .care-content h1, h2{
	color:#7691C0
	}
.wrapper .care-content .appointments{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	}
.wrapper .care-content .prescription{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	}
.wrapper .care-content .urgent{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
