/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f6e6b4 0%, #eaab5d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f6e6b4), color-stop(100%,#eaab5d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #f6e6b4 0%,#eaab5d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #f6e6b4 0%,#eaab5d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #f6e6b4 0%,#eaab5d 100%); /* IE10+ */
	background: linear-gradient(135deg, #f6e6b4 0%,#eaab5d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#eaab5d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  width:100%;
  height:auto;
  max-width:960px;
  margin:0px auto;
  margin-bottom:30px;
  background-color:#ffffff;
}
header{
	
	}
.head{
	height:auto;
	width:auto;
	max-width:960px;
	max-height:320px;
	position: fixed;
    margin: auto;
	background-color:#FFF;
}

.head nav{
	text-align:center;
}

.head #logo{
		width:50%;
		height:auto;
		margin-left:5%;
		margin-right:5%;
		padding-top:15px;
		padding-bottom:15px;
	  }
.head .portal-link{
	display:block;
	background: #910010; /* Old browsers */
		background: -moz-linear-gradient(top,  #910010 0%, #a50013 0%, #ad0a1d 18%, #af2838 47%, #cc3d4b 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#910010), color-stop(0%,#a50013), color-stop(18%,#ad0a1d), color-stop(47%,#af2838), color-stop(99%,#cc3d4b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #910010 0%,#a50013 0%,#ad0a1d 18%,#af2838 47%,#cc3d4b 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #910010 0%,#a50013 0%,#ad0a1d 18%,#af2838 47%,#cc3d4b 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #910010 0%,#a50013 0%,#ad0a1d 18%,#af2838 47%,#cc3d4b 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #910010 0%,#a50013 0%,#ad0a1d 18%,#af2838 47%,#cc3d4b 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#910010', endColorstr='#cc3d4b',GradientType=0 ); /* IE6-9 */
	width:20%;
	margin-right:5%;
	float:right;
	padding:10px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	}
.head .portal-link a{
	font-weight:bold;
	padding-right:5%;
	padding-left:5%;
	color:#dbe0ee;
	text-decoration:none;
}

.head .nav ul {
  width:100%;
  list-style: none;
  background-color: #fff;
  text-align: center;
  margin:0 auto;
  padding:0;

}

.head .nav li {
  font-size: 1.2em;
  text-align: center;
  border-bottom:1px solid black;
  background-color: #FF9EB5;
  /* For WebKit (Safari, Chrome, etc) */
  background: #FF9EB5 -webkit-gradient(linear, left top, left bottom, from(#9D0328), to(#FF9EB5)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: #FF9EB5 -moz-linear-gradient(top, #9D0328, #FF9EB5) no-repeat;
  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9D0328, endColorstr=#FF9EB5) no-repeat;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#9D0328, endColorstr=#9D0328)" no-repeat;
}

.head .nav a {
  text-decoration: none;
  color: #dbe0ee;
  display: block;
  height:70%;
}

.head .nav a:hover {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 79%, #2989d8 79%, #2989d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(79%,#2989d8), color-stop(79%,#2989d8), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 79%,#2989d8 79%,#2989d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 79%,#2989d8 79%,#2989d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 79%,#2989d8 79%,#2989d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 79%,#2989d8 79%,#2989d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
}

.current{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+79,2989d8+79,2989d8+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 79%, #2989d8 79%, #2989d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(79%,#2989d8), color-stop(79%,#2989d8), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 79%,#2989d8 79%,#2989d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 79%,#2989d8 79%,#2989d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 79%,#2989d8 79%,#2989d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 79%,#2989d8 79%,#2989d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */

	}

@media screen and (min-width: 540px) {
	.head img{
		display:block;
		width:80%;
		height:auto;
		max-width:960px;
		margin:0 auto;
	}
	
	.head .nav ul li {
		padding:0;
		margin:0;
		width:25%;
		height:40px;
		float:left;
		border-bottom: none;
		font-size: 1.2em;
		display: inline-block;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#910010+0,a50013+0,ad0a1d+18,af2838+47,cc3d4b+99 */
		background: #910010; /* Old browsers */
		background: -moz-linear-gradient(top,  #910010 0%, #a50013 0%, #ad0a1d 18%, #af2838 47%, #cc3d4b 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#910010), color-stop(0%,#a50013), color-stop(18%,#ad0a1d), color-stop(47%,#af2838), color-stop(99%,#cc3d4b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #910010 0%,#a50013 0%,#ad0a1d 18%,#af2838 47%,#cc3d4b 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #910010 0%,#a50013 0%,#ad0a1d 18%,#af2838 47%,#cc3d4b 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #910010 0%,#a50013 0%,#ad0a1d 18%,#af2838 47%,#cc3d4b 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #910010 0%,#a50013 0%,#ad0a1d 18%,#af2838 47%,#cc3d4b 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#910010', endColorstr='#cc3d4b',GradientType=0 ); /* IE6-9 */

	  }
	
	.head .nav a {
		padding:0;
		margin:0;
		padding-top:6px;
		padding-bottom:6px;
	  }
	
	.head .nav  ul  li {
		text-align: center;
	  }
	
	.head .nav  ul  li  a {
		padding-left: 0;
	  }

}

#markup{
	padding-top:27%;
	padding-bottom:20px;
	text-align:justify;
	}
#markup h1{
	margin:0;
	padding:0;
	color:#7691C0;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align:left;
	}
#markup	h2{ 
	margin:0;
	padding:0;
	color:#7691C0;
	text-align:left;
	}

#markup p{
	padding:0;
	margin:0;
	text-indent:20px;
	}
#markup .intro-holder{

	}
#markup .img-holder{
	float:right;
	width:40%;
	margin-top:20px;
	}
	
#markup .img-holder #headshot{
	width:60%;
	height:auto;
	margin-left:20%;
	margin-right:20%;
	}
	
#markup .caption{
	margin-left:20%;
	margin-right:20%;
	}
	
#markup .intro{
	margin-left:10%;
	margin-right:10%;
	}
	
#markup .list{
	margin-left:10%;
	margin-right:10%;
	padding:0;
	}

#markup .about{
	text-align:left;
	}
#markup .bio{
	margin-left:10%;
	margin-right:10%;
	text-align:left;
	}
#markup .about h2{
	margin-left:10%;
	}	
#markup .new-patients p{
	margin-left:10%;
	margin-right:10%;
	margin-top:20px;
	clear:both;
	}
#markup .new-patients h2{
	margin-left:10%;
	}
#markup .insurance h2{
	margin-left:10%;	
	}
#markup table{
	width:80%;
	margin:auto;
	margin-left:10%;
	margin-right:10%;
	margin-top:15px;
	margin-bottom:50px;
	}
#markup table th{
	color:#7691C0;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	}
#markup table, tr, td, th{
	border:2px solid #000;
	}
#markup table tr td{
	padding-left:5px;
	padding-right:5px;
	}
@media screen and (max-width: 540px) {
	
	#markup{
		padding-top:60%;
		}
	
	}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
